<!-- BEGIN PAGE SPINNER -->
<div ng-hide="registerCtrl.List" id="loading">
    <div ng-spinner-bar class="page-spinner-bar">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
    </div>
</div>
<!-- END PAGE SPINNER -->
<div class="gzr-content" ng-show="registerCtrl.List">
    <h2>Grupe lokacija</h2>
    <table ng-table="registerCtrl.tableParams" show-filter="true" class="table">
        <tr ng-repeat="grupa in $data">
            <div class="row">
                <td data-title="'Naziv'" sortable="'Naziv'" filter="{ 'Naziv': 'text' }">{{ grupa.Naziv }}</td>
                <td data-title="'Admin'" class="admin-col">
                    <a class="btn btn-primary" href="#/admin/registers/grupa_lokacije/edit/{{ grupa.Id }}">Uredi</a>
                    <button class="btn btn-danger btn-delete" href="" ng-disabled="!grupa.OmoguciBrisanje" ng-click="registerCtrl.remove(grupa)">Obriši</button>
                </td>
            </div>
        </tr>
    </table>
    <gzr-tooltip selector="'button[disabled].btn.btn-delete'" title="'Podatak nije moguće obrisati jer je povezan s ostalim podacima'" placement="'top'"></gzr-tooltip>
    <div class="form-group">
        <a class="btn btn-primary" href="#/admin/registers/grupa_lokacije/add">Dodaj</a>
    </div>
</div>
<gzr-active-menu menu="admin"></gzr-active-menu>