<!-- BEGIN PAGE SPINNER -->
<div ng-hide="registerCtrl.List" id="loading">
    <div ng-spinner-bar class="page-spinner-bar">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
    </div>
</div>
<!-- END PAGE SPINNER -->
<div class="gzr-content" ng-show="registerCtrl.List">
    <h2>Postavke</h2>
    <table ng-table="registerCtrl.tableParams" show-filter="true" class="table">
        <tr ng-repeat="postavka in $data">
            <td data-title="'Naziv'" sortable="'Naziv'" filter="{ 'Naziv': 'text' }">{{ postavka.Naziv }}</td>
            <td data-title="'Vrijednost'" sortable="'Oznaka'" filter="{ 'Oznaka': 'text' }">{{ postavka.Vrijednost }}</td>
            <td data-title="''">
                <a class="btn btn-primary" href="#/admin/postavka/edit/{{ postavka.Id }}">Uredi</a>
                <button class="btn btn-danger btn-delete" href="" ng-click="registerCtrl.remove(postavka)">Obriši</button>
            </td>
        </tr>
    </table>

    <div class="form-group">
        <a class="btn btn-primary" href="#/admin/postavke/add">Dodaj</a>
    </div>
</div>
<gzr-active-menu menu="admin"></gzr-active-menu>
