<!-- BEGIN PAGE SPINNER -->
<div ng-hide="registerCtrl.List" id="loading">
    <div ng-spinner-bar class="page-spinner-bar">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
    </div>
</div>
<!-- END PAGE SPINNER -->
<div class="gzr-content" ng-show="registerCtrl.List">
    <h2>Tipovi</h2>
    <table ng-table="registerCtrl.tableParams" show-filter="true" class="table">
        <tr ng-repeat="tip in $data">
            <td data-title="'Naziv'" sortable="'Naziv'" filter="{ 'Naziv': 'text' }">{{ tip.Naziv }}</td>
            <td class="admin-col" data-title="''">
                <a class="btn btn-primary" href="#/admin/registers/tipovi/edit/{{ tip.Id }}">Uredi</a>
                <button class="btn btn-danger btn-delete" href="" ng-disabled="!tip.OmoguciBrisanje" ng-click="registerCtrl.remove(tip)">Obriši</button>
            </td>
        </tr>
    </table>
    <gzr-tooltip selector="'button[disabled].btn.btn-delete'" title="'Podatak nije moguće obrisati jer je povezan s ostalim podacima'" placement="'top'"></gzr-tooltip>
    <div class="form-group">
        <a class="btn btn-primary" href="#/admin/registers/tipovi/add">Dodaj</a>
    </div>
</div>
<gzr-active-menu menu="sifrarnici"></gzr-active-menu>